<div class="container">
  <div>
    <h1 class="text-muted mt-3">My Todo's</h1>
  </div>
  <div class="alert alert-success container mt-3" *ngIf="message">
    {{ message }}
    <br *ngIf="message" />
  </div>
  <table class="table table-striped">
    <thead class="table-group-divider">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">TILL DATE</th>
        <th scope="col">IS COMPLETED?</th>
        <th scope="col">UPDATE</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let todo of Todos">
        <th scope="row">{{ todo.id }}</th>
        <td scope="row">{{ todo.description }}</td>
        <td scope="row">{{ todo.targetDate | date | uppercase }}</td>
        <td scope="row">{{ todo.done }}</td>
        <td scope="row">
          <button (click)="updateTodo(todo.id)" class="btn btn-success">
            Update
          </button>
        <td scope="row">
          <button (click)="deleteTodo(todo.id)" class="btn btn-warning">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
